{% for instance, property in ec2.items() %}
  {% for count_index in range(property.count) %}
  {% set count = "0" ~ (count_index|int + 1) %}
output "{{ instance }}_{{ count }}_instance_ip" {
  {% if property.public|bool %}
  value = ["${aws_instance.{{ instance }}-{{ count }}.*.public_ip}"]
  {% else %}
  value = ["${aws_instance.{{ instance }}-{{ count }}.*.private_ip}"]
  {% endif %}
}
  {% endfor %}
{% endfor %}